hr {
  border: none;
  border-bottom: 1px solid #c2c2c2;
}

.d-flex {
  display: flex;
}

.d-flex.flex-column-reverse {
  flex-direction: column-reverse;
}

.row {
  margin: 0.5em 0;
  padding: 0.5em;
  border: 1px solid #c2c2c2;
  border-radius: 0.5em;
  align-items: center;
}

.row .data-container {
  align-items: center;
  flex-grow: 1;
}

.row .dns-count {
  border-radius: 50%;
  background: #f5f5f5;
  width: 2em;
  height: 2em;
  text-align: center;
  margin: 0 0.2em;
  align-items: center;
  display: flex;
  justify-content: center;
}

button {
  cursor: pointer;
  min-height: 1em;
  border: none;
  margin: 0 .25em 0 0;
  padding: .5em .8em;
  border-radius: 0.3em;
  font-weight: 600;
}

.action-buttons {
  margin-top: 0.7em;
}

.d-flex.action-buttons button {
  flex-grow: 1;
}

.btn-danger {
  background-color: #db2828;
  color: #fff;
}